body {
font: normal normal 20px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
color: #666666;
background: #ffffff none repeat scroll top left;
margin: auto;
padding: 10px;
max-width: 600px;
min-height: 100%;
}
html body .region-inner {
min-width: 0;
max-width: 100%;
width: auto;
}
a:link {
text-decoration:none;
color: #2288bb;
}
a:visited {
text-decoration:none;
color: #888888;
}
a:hover {
text-decoration:none;
color: #33aaff;
}
h1 {
line-height: 58px;
height: 60px;
padding-left: 60px;
background: url('../img/TouchSudoku.png') no-repeat left center;
background-size: 50px 50px;
}
h2 {
font-size: 22px;
}
h2.date-header {
font: normal bold 11px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
.date-header span {
background-color: #bbbbbb;
color: #ffffff;
padding: 0.4em;
letter-spacing: 3px;
margin: inherit;
}
